# Игнорируем файлы конфигурации (чтобы случайно не слить пароли от БД)
appsettings.json
appsettings.Development.json

# Игнорируем папки с картинками (скорректируй название папки, если оно другое)
API/wwwroot/images/
API/wwwroot/uploads/

# Крайне рекомендую добавить стандартные исключения для .NET, чтобы не пушить мусор
bin/
obj/
.vs/